# MiAplicacionWeb/.gitignore

# Ignorar dependencias de Node.js
node_modules/

# Ignorar compilaciones y archivos generados automáticamente
build/
dist/

# Ignorar configuraciones locales
.env
.DS_Store
Thumbs.db

# Ignorar logs
*.log
